.errorBox {
    height: 70vh;
    width: 70%;
    margin: 0px auto;
    background-image: url("../../assets/error/error.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 30px;
   
}


@media (max-width : 800px) {
    .errorBox {
        height: 60vh;

    }
}

@media (max-width : 500px) {
    .errorBox {
        height: 50vh;

    }
}

@media (max-width : 300px) {
    .errorBox {
        height: 35vh;

    }
}