.globalPageSize {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0px 15px;
    padding-top: 90px;

}

@media (max-width :1000px) {

    .globalPageSize {
        padding-top: 70px;
    }
}

.globalSectionSize {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0px 15px;
}



.insidePageUpperSection {
    width: 100%;
    margin: 0 auto;
    padding-top: 130px;
    max-width: 1900px;

}

@media (min-width : 2000px) {
    .insidePageUpperSection {
        width: 100%;
        margin: 0 auto;
        padding-top: 130px;
        max-width: 1150px;
    }
}



.indicators {
    display: flex;
    justify-content: center;
    column-gap: 18px;
    margin-top: 15px;
}

.indicator {
    width: 24px;
    height: 7px;
    border-radius: 30%;
    /* background-color: #ccc; */
    cursor: pointer;
    transition: background-color 0.3s;
    border: 1px solid black;
}

.indicator.active {
    /* background-color: #007bff; */
    background-color: rgb(49, 49, 214);
}